body{
  margin: 0px;
  background-color: #eff1fb;
}

.navbar ul{
  padding: 0px;
  margin: 0px;
}
.logo{
      padding: 15px;
      display: block;
      text-align: center;
      text-decoration: none;
}
.logo h1{
  color: bisque;
}
.logo b{
  color: orange;
}
.navbar ul{
  list-style-type: none;
  background-color: #1a2860;
  padding: 0PX;
  margin: 0PX;
  overflow: hidden;
}
.navbar a{
  color: antiquewhite;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 30%;
}
.navbar a:hover{
  background-color: rgb(81, 81, 182);
}
.navbar li{
  float: left;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.slowFade {
  display: flex;
  align-items: flex-start;
  background: #fff;
  height: 600px;
  overflow: hidden;
  position: relative;
}
.slowFade .slide img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  background: #000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  opacity: 0;
  transform: scale(1.5) rotate(15deg);
  -webkit-animation: slowFade 32s infinite;
          animation: slowFade 32s infinite;
}
.slowFade .slide:nth-child(3) img {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}
.slowFade .slide:nth-child(2) img {
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
}
.slowFade .slide:nth-child(1) img {
  -webkit-animation-delay: 24s;
          animation-delay: 24s;
}
@keyframes slowFade {
  25% {
      opacity: 1;
      transform: scale(1) rotate(0);
  }
  40% {
      opacity: 0;
  }
}
@-webkit-keyframes slowFade {
  25% {
      opacity: 1;
      transform: scale(1) rotate(0);
  }
  40% {
      opacity: 0;
  }
}